body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    overflow: hidden;
    top: 22px;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding-left: 130px;
}

.navbar a:hover {
    color: black;
}

.navbar .icon {
    display: none;
    color: black;
    margin-right: 25px;
    cursor: pointer;
}

.navbar .active {
    color: #00ffff;
}


@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 200px;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

h1 {
    margin-top: 72px;
    text-align: center;
    font-size: 35px;
}

span {
    color: #00ffff;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    color: #00ffff;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #27bcda;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #27bcda;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .best .card {
    max-width: 650px;
    margin: 90px;
    text-align: center;
    font-family: arial;
    float: left;
    margin-left: 60px;
    border: 1px solid yellow;
    margin-bottom: 12px;
    border-radius: 70%;
    margin-top: 32px;
  }

  .best .card img {
    width: 50px;
    height: 100px;
  }

  .best a {
    color: yellow;
  } 

  .best h2  {
    font-size: 12px;
    font-weight: bolder;
  }

  @media screen and (max-width: 992px) {  
    h1 {
      margin-top: 2px;
      text-align: center;
      font-size: 35px;
  }
    
    .best .card {
      max-width: 30%;
      margin: 0;
      text-align: center;
      font-family: arial;
      float: left;
      margin-left: 40px;
      border: 1px solid yellow;
      margin-bottom: 12px;
      border-radius: 70%;
      margin-top: 32px;
    }

    .best .card img {
      width: 50%;
      height: 90%;
    }

    .best h2  {
      font-size: 13px;
      font-weight: bolder;
    }


    
  }